:root {
  --gutter: 1rem;
  --color-1: #FCF8E8;
  --color-2: #BEF0CB;
  --color-3: #D1FFF3;
  --color-4: #C1AEFC;
  --color-5: #553939;
  --color-6: #472D2D;
  --color-error: rgb(252, 174, 174);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

li {
  list-style-type: none;
}
.hidden {
  display: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

body {
  margin: 0;
  color: var(--color-6);
}

hr {
  border: 1px solid black;
}

#container {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

#sidebar h1 {
  text-align: center;
}

#sidebar button {
  width: 100%;
}

#sidebar {
  padding: var(--gutter);
  border-right: 4px solid var(--color-6);
  background-color: var(--color-3);
  max-height: calc(100vh - 2rem);
}

#event-list {
  display: grid;
  grid-template-rows: 1fr;
  overflow: scroll;
  max-height: 60vh;
}

#event-list .event {
  padding: 0.5rem;
  cursor: pointer;
  list-style-type: none;
  border: 2px solid transparent;
  border-radius: var(--gutter)
}

#event-list .event:hover {
  background-color: var(--color-1);
  border: 2px solid black
}

#event-list .event.Err {
  cursor:not-allowed;
}

#event-list .event.Err:hover {
  background-color: #333;
  color: white;
}

#event-list .event:before {
  width: 1rem;
  height: 1rem;
  padding: 0.2rem;
  margin: 0 0.3rem;
  border-radius: 1rem;
  display: inline-grid;
  justify-content: center;
  align-content: center;
  font-family: "Font Awesome 6 Free";
  border: 2px solid black;
  transform: scale(0.7);
}

#event-list .event.Err:before {
  content: "\f00d";
  background: var(--color-error);
}

#event-list .event.Ok:before {
  content: "\f00c";
  background: var(--color-2);
}

#content {
  height: calc(100vh - 2rem);
  padding: var(--gutter);
  background-color: var(--color-1);
  display: grid;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 10fr 1fr;
  min-width: 50vw;
}

#state {
  border-radius: var(--gutter);
  background-color: var(--color-4);
  border: 3px solid var(--color-2);
  width: 100%;
  height: 100%;
  min-width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
}

#test div {
  margin: 0 auto
}

.state-column {
  padding: var(--gutter)
}

#state h2 {
  font-size: small;
}

#sidebar input {
  width: 100%;
  padding: calc(var(--gutter)/2);
  margin-top: var(--gutter)
}

#content .event {
  border: 5px solid var(--color-4);
  border-radius: var(--gutter);
  padding: calc(var(--gutter) * 2);
  background-color: var(--color-2);
  max-width: calc(50vw - 10px - var(--gutter)*2);
}

ul {
  padding: 0;
}

.choice {
  padding: var(--gutter);
  background-color: var(--color-1);
  cursor: pointer;
  list-style-type: none;
  margin-bottom: var(--gutter);
  margin-left: 0;
}

.choice:hover {
  background-color: var(--color-3);
}
/* :root {

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
} */
